@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/OpenSans-Regular-webfont.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/OpenSans-Semibold-webfont.woff) format('woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/OpenSans-Bold-webfont.woff) format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/OpenSans-BoldItalic-webfont.woff) format('woff');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/OpenSans-ExtraBold-webfont.woff) format('woff');
    font-style: normal;
    font-weight: 800;
}


/* css reset */
  
  *, *::before, *::after {
      box-sizing: border-box;
  }
  
  * {
  margin: 0;
  }
  
  body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  }
  
  input, button, textarea, select {
  font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  }
  
  #root, #__next {
  isolation: isolate;
  }

  
  /* my styles below this */

svg {
    height: 1.2rem;
    width: auto;
}

header, footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
}

body {
    font-family: 'OpenSans';
    font-weight: 600;
    font-style: normal;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgray;
}

h1 {
    font-weight: 800;
    font-size: 2.5rem;
}

header button {
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    height: 4rem;
    padding: 0rem 1rem;
    margin: 0.5rem;
    border-radius: 10%/40%;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border: 7px ridge darkgray;
}

main {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-template-rows: auto;
}

.bookCard {
    margin: 1rem;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    min-width: fit-content;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
    border-radius: 5%;
    border: 5px ridge gray;
}

.bookCard button {
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 10%/30%;
    text-align: center;
    width: 7rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border: 3px ridge black;
    background-color: #E0E0E0;
}

button.readStatus {
    background-color: rgb(255, 156, 156);
    border: 3px ridge brown;
}

button:hover {
    filter: brightness(90%);
}

button.readStatus.readed {
    background-color: rgb(159, 255, 156);
    border: 3px ridge forestgreen;
}


#addDialog {
    margin: auto;
}

form {
    margin: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: whitesmoke;
}

.formInput {
    display: flex;
    flex-direction: column;
}


.readCheck {
    display: flex;
    align-items: center;
}

input#read {
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
}

label {
    font-style: italic;
    font-weight: 700;
}

form button {
    font-weight: 600;
    font-size: 1.5rem;
    width: 8rem;
    border-radius: 15%/35%;
    text-align: center;
    margin: 0rem 0.5rem;
    padding: 0.2rem 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

form #addBtn {
    background-color: lightgreen;
    border: 4px ridge forestgreen;
}

form #cancelBtn {
    background-color: lightcoral;
    border: 4px ridge brown;
}

footer {
    font-style: italic;
    font-weight: 700;
}

a {
    text-decoration: none;
}